:root {
    --clr: gold;
  }

* {
    box-sizing: border-box;
}


html {

}

body {
    margin: 0;
    background-image: url('../../assets/img/bg.png');
    background-attachment: fixed;
    background-size: 700px;
    font-family: ubuntu;
    background-color: #1f96f4;
}

img {

}

h1,h2,h3,h4,h5,h6 {

}

h1 {

}

p {

}